extends layout.pug

block content
  section#content
    h2= text
    if hint
      p
        i Hint: #{hint}
      p
        a(href=`/cards/${id}?side=answer`) Answer
    else
      p
        a(href=`/cards/${id}?side=question`) Question
    br
    a(href='/cards') Next card