doctype html
html(lang="en")
  head
    title Landing Page
  body
    h1 The future home of something magical!
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia voluptas corporis sequi obcaecati, unde fuga reprehenderit, aperiam quo magni, nihil nulla modi eius, dolore expedita aliquam. Possimus voluptatibus dignissimos pariatur.